.profile-heading {
  font-family: 'Roboto';
  font-size: 15px;
  color: #6366f1;
  margin-left: 15px;
}
.description-profile {
  font-family: 'Roboto';
  font-size: 10px;
  color: #475569;
  margin-left: 15px;
}
.horizon {
  width: 250px;
}
.description-profile2 {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
}
.retry-button {
  background-color: #6366f1;
  color: #f8fafc;
  font-family: 'Roboto';
  border-radius: 5px;
  border-width: 0px;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-right: 25px;
  font-size: 15px;
}
.jobs-list-container {
  list-style-type: none;
  height: 300px;
  padding-left: 0;
}
.search-input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #475569;
  width: 400px;
  height: 40px;
  margin-left: 12px;
  margin-top: 10px;
}

.search-input {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border-width: 0px;
  border-radius: 5px;
  width: 350px;
  height: 30px;
}
.all-jobs-container {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.search-button {
  background-color: #202020;
  height: 36px;
  width: 60px;
  border-radius: 5px;
  border-width: 0px;
}
.no-jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin-top: 20px;
  height: 600px;
}

.no-jobs-img {
  height: 300px;
  width: 300px;
}
.no-jobs-heading {
  font-size: 30px;
  color: #ffffff;
}
.search-icon {
  color: #ffffff;
}

.products-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .all-jobs-container {
    width: 360px;
  }
  .job-list-container {
    display: flex;
    flex-direction: column;
    width: 360px;
  }
  .search-input-container {
    width: 290px;
  }
  .search-input {
    width: 260px;
    height: 30px;
  }
  .list-container {
    width: 150px;
    padding-left: 0;
  }
  .no-jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin-top: 20px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .job-list-container {
    display: flex;
    flex-direction: row;
  }
  .search-input {
    width: 350px;
    height: 30px;
  }
  .list-container {
    padding-left: 0;
  }
}
