.job-description-container {
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.job-detailss-container {
  background-color: #202020;
  border-radius: 10px;
  margin: 25px;
  padding: 10px;
}

.company-title-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
}

.company-logo-container {
  display: flex;
  width: 350px;
  height: 80px;
}

.skill-image {
  height: 80px;
  width: 80px;
}
.company-skills-image-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 900px;
  padding-left: 0;
}
.skills-items {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: space-around;
}
.similar-jobs-list-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.company-life-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-description-container {
  display: flex;
  justify-content: space-between;
}
.skill-description {
  color: #ffffff;
  font-family: 'Roboto';
}

.company-rating-description {
  color: #ffffff;
  font-family: 'Roboto';
}
.company-location-description {
  color: #ffffff;
  margin-left: 10px;
  font-family: 'Roboto';
}
.company-description {
  color: #ffffff;
  font-family: 'Roboto';
  margin-left: 10px;
}
.employee-type-icon {
  color: #ffffff;
  font-family: 'Roboto';
}
.company-profile-image {
  height: 150px;
  width: 250px;
  border-radius: 6px;
}

.star-icon {
  color: #fbbf24;
  margin-right: 6px;
}

.company-rating-container {
  display: flex;
  align-items: center;
  padding-top: 0;
  height: 20px;
}
.company-life-heading {
  color: #ffffff;
  font-family: 'Roboto';
}
.company-life-description {
  color: #ffffff;
  font-family: 'Roboto';
}

.company-horizontal-line {
  width: 1440px;
}
.company-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  margin-left: 14px;
}
.company-visit-url {
  text-decoration: none;
  margin-right: 14px;
}
.company-package-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  margin-right: 13px;
}
.company-skills-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 10px;
}
.company-life-image-container {
  display: flex;
  align-items: center;
}
.similar-job-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  margin-left: 22px;
}

.company-title-container {
  margin-left: 15px;
}
.company-location-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-page-location-container {
  display: flex;
  width: 200px;
  align-items: center;
}
.page-location-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.job-page-details-container {
  background-color: #000000;
}

@media screen and (max-width: 768px) {
  .similar-jobs-container {
    width: 360px;
  }
  .job-page-details-container {
    background-color: #000000;
    height: 320vh;
  }
  .job-detailss-container {
    padding: 10px;
  }
  .company-horizontal-line {
    width: 300px;
  }
  .skill-image {
    height: 30px;
    width: 30px;
  }
  .company-life-description {
    font-size: 14px;
  }
  .company-life-heading {
    font-size: 20px;
  }
  .skills-items {
    margin: 5px;
  }
  .company-description {
    font-size: 14px;
  }
  .company-skills-image-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding-left: 0;
  }
  .similar-jobs-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 360px;
  }
  .company-skills-heading {
    font-size: 10px;
    margin-left: 10px;
  }
  .company-profile-image {
    height: 110px;
    width: 200px;
  }
  .company-life-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .job-description-container {
    height: 1480px;
  }
  .similar-job-heading {
    margin-left: 36px;
  }
  .company-logo-container {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .job-details-container {
    background-color: #202020;
    border-radius: 10px;
    margin: 25px;
    width: 96vw;
    padding: 10px;
  }
  .skill-image {
    height: 80px;
    width: 80px;
  }
  .company-horizontal-line {
    width: 1440px;
  }
  .company-skills-image-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 900px;
    padding-left: 0;
  }
  .skills-items {
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: space-around;
  }
  .similar-jobs-list-container {
    display: flex;
    margin-top: 20px;
  }
  .company-profile-image {
    height: 150px;
    width: 250px;
    border-radius: 6px;
  }
  .similar-job-heading {
    margin-left: 36px;
  }
}
