.similar-item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 350px;
  width: 300px;
  border-radius: 10px;
  background-color: #202020;
}

.similar-image {
  height: 80px;
  width: 80px;
}

.title-similar {
  color: #12022f;
  font-size: 12px;
  font-weight: bold;
}

.brand-name {
  color: #616e7c;
  font-size: 10px;
  margin-top: 0px;
}

.location-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
}

.location-under-container {
  width: 150px;
  height: 50px;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.bottom-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price-bottom {
  color: #12022f;
  font-size: 12px;
  font-weight: bold;
}

.rating-bottom {
  width: 40px;
  background-color: #3b82f6;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heading22 {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .similar-item {
    margin-top: 10px;
    width: 300px;
    height: 230px;
  }
}
@media screen and (min-width: 768px) {
  .similar-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    background-color: #202020;
  }
}
