@media screen and (min-width: 765px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    background-size: cover;
    height: 100vh;
  }
  .home-page-heading {
    font-family: 'Roboto';
    font-size: 68px;
    color: #f8fafc;
  }
  .home-page-description {
    font-family: 'Roboto';
    font-size: 22px;
    color: #f8fafc;
  }
  .find-jobs-button {
    background-color: #6366f1;
    color: #f8fafc;
    font-family: 'Roboto';
    border-radius: 5px;
    border-width: 0px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
  }
  .home-page-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 765px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    height: 110vh;
  }
  .home-page-heading {
    font-family: 'Roboto';
    font-size: 28px;
    color: #f8fafc;
  }
  .home-page-description {
    font-family: 'Roboto';
    font-size: 22px;
    color: #f8fafc;
  }
  .find-jobs-button {
    background-color: #6366f1;
    color: #f8fafc;
    font-family: 'Roboto';
    border-radius: 5px;
    border-width: 0px;
    height: 30px;
    width: 100px;
    margin-top: 10px;
  }
  .home-page-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 250px;
    width: 250px;
    margin-top: 20px;
  }
}
