.employement-label {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  margin-left: 5px;
}

.location-label {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  margin-left: 5px;
}

.salary-label {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  margin-left: 5px;
}

.profile-image {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}
.profile-heading {
  font-size: 20px;
}
.profile-description {
  font-size: 12px;
  margin-left: 10px;
}

.employment-type-list-container {
  padding-left: 0;
  height: 100px;
  width: 250px;
}
.location-type-list-container {
  padding-left: 0;
  height: 100px;
  width: 250px;
}

.salary-range-list-container {
  padding-left: 0;
  height: 100px;
  width: 250px;
}

.employement-list-item {
  padding-left: 0;
  padding: 4px;
}
.location-list-item {
  padding-left: 0;
  padding: 4px;
}

.salary-list-item {
  padding-left: 0;
  padding: 4px;
}

.filter-jobs-container {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employement-filter-container {
  height: 170px;
  width: 250px;
}
.location-filter-container {
  height: 200px;
  width: 250px;
}
.salary-filter-container {
  height: 170px;
  width: 250px;
}

.employement-heading {
  font-family: 'Roboto';
  font-size: 16px;
  color: #ffffff;
}

.location-heading {
  font-family: 'Roboto';
  font-size: 16px;
  color: #ffffff;
}

.salary-heading {
  font-family: 'Roboto';
  font-size: 16px;
  color: #ffffff;
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
  width: 250px;
}
.horizontal-line {
  width: 200px;
}

.clear-all-button {
  background-color: #6366f1;
  color: #f8fafc;
  font-family: 'Roboto';
  border-radius: 5px;
  border-width: 0px;
  height: 40px;
  width: 100px;
  margin-top: 20px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .filter-jobs-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 320px;
    height: 820px;
  }
  .profile-container {
    height: 200px;
    width: 300px;
  }
  .employement-filter-container {
    height: 170px;
    width: 300px;
  }
  .location-filter-container {
    height: 250px;
    width: 300px;
  }
  .salary-filter-container {
    height: 170px;
    width: 300px;
  }
  .employment-type-list-container {
    padding-left: 0;
    height: 100px;
    width: 200px;
  }
  .horizontal-line {
    width: 300px;
  }

  .salary-range-list-container {
    padding-left: 0;
    height: 100px;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .filter-jobs-container {
    padding-left: 0;
    height: 850px;
  }
  .horizontal-line {
    width: 250px;
  }
}
